<h1>Listing Tags</h1>



<table>
  <tr>
    <th>Name</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.name %></td>
    <td><%= tag.remark %></td>
    <td><%= link_to 'Show', tag %></td>
    <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
    <td><%= link_to 'Destroy', tag, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tag', new_tag_path %>
<br />
<br />
<br />

<h2>Running by Tags:</h2>
<h4>Pick tags:</h4>

<%= form_tag execute_tags_path do %>
<% @tags.each do |g| %>
    <%= check_box_tag "checked_tags[]", g.name %> <%= g.name %>
    <%= hidden_field_tag "checked_tags[]"," " %>
<% end %>
<br />
<br />
<%= submit_tag "Execute!"%>
<% end %>

</table>
<% if $appear %>
    <p><%= link_to 'Save', save_tags_path %>
      <%= link_to 'Back',:back %></p>
    <div style="width:1000px;border: green 1px solid;background: #ffcc00;">
      <%= render 'execute' %>
    </div>
<% else %>
<%end%>
