<%= form_for(@roadrunner) do |f| %>
  <% if @roadrunner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roadrunner.errors.count, "error") %> prohibited this roadrunner from being saved:</h2>

      <ul>
      <% @roadrunner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :script %><br />
    <nb>   Please write the script format like this: <br>
      @load.**** do                      <br>
      ....                               <br>
      end                                <br>
    </nb>

    <%= f.text_area :script ,:rows => 10,:cols =>100%>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description ,:rows => 3%>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_area :remark ,:rows =>3%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
