<h1>Listing roadrunners</h1>  <br/>
<%=link_to "R.R.-Scritps Examples", scripts_roadrunners_path,:target =>"_blank" %> <br /><br />
<table>
  <tr>
    <th>Name</th>
    <th>Script</th>
    <th>Description</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roadrunners.each do |roadrunner| %>
  <tr>
    <td><%= roadrunner.name %></td>
    <td><%= truncate(strip_tags(roadrunner.script),length: 60) %></td>
    <td><%= truncate(strip_tags(roadrunner.description),length:20) %></td>
    <td><%= roadrunner.remark %></td>
    <td><%= link_to 'Show', roadrunner %></td>
    <td><%= link_to 'Edit', edit_roadrunner_path(roadrunner) %></td>
    <td><%= link_to 'Destroy', roadrunner, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'execute', execute_roadrunner_path(roadrunner), method: :get %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Roadrunner', new_roadrunner_path %>
