<%= form_for(@machine) do |f| %>
  <% if @machine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@machine.errors.count, "error") %> prohibited this machine from being saved:</h2>

      <ul>
      <% @machine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :credential %><br />
    <%= f.text_area :credential,:rows => 4 %>
  </div>
  <div class="field">
    <%= f.label :machine_type %><br />
    <%=
        @types=MachineType.order(:machine_type_id).all
        f.collection_select(:machine_type,@types,:machine_type_id,:name,:prompt=>'Please select types ...')
    %>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_area :remark ,:rows => 6%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
