<h1>Listing machines</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ip</th>
    <th>Credential</th>
    <th>Machine type</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @machines.each do |machine| %>
  <tr>
    <td><%= machine.name %></td>
    <td><%= machine.ip %></td>
    <td><%= machine.credential %></td>
    <td><%= machine.machine_type %></td>
    <td><%= machine.remark %></td>
    <td><%= link_to 'Show', machine %></td>
    <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
    <td><%= link_to 'Destroy', machine, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Machine', new_machine_path %>
