
<h1>Using Remote Notice</h1>

<nb>N.B.: If you need to run automation in remote.You should run <%= link_to 'selenium-server-standalone','http://docs.seleniumhq.org/download/' ,:target => "_blank" %> first.
<br/>
If your server has the local download link, try this: <%= link_to 'Download from server',download_machines_path %>
  <%= flash[:notice]  %><br/>
After download please run "java -jar selenium-server-standalone.jar" command in console,also please make sure you have a Jave SDK installed.
</nb>

<h1>Listing machines</h1>

<br>
<table>
  <tr>
    <th>Name</th>
    <th>Ip</th>
    <th>Credential</th>
    <th>Machine type</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @machines.each do |machine| %>
  <tr>
    <td><%= machine.name %></td>
    <td><%= machine.ip %></td>
    <td><%= machine.credential %></td>
    <td><%= MachineType.where('machine_type_id'=>machine.machine_type).first.name %></td>
    <td><%= machine.remark %></td>
    <td><%= link_to 'Show', machine %></td>
    <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
    <td><%= link_to 'Destroy', machine, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Machine', new_machine_path %>
