<%= form_for(@feature) do |f| %>
  <% if @feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feature.errors.count, "error") %> prohibited this feature from being saved:</h2>

      <ul>
      <% @feature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.select :name,@feature_name  %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.select :type, FeatureType.all.collect{|p|[p.name,p.id]},{:prompt => 'Please select types ...'} %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.select :author,Author.all.collect{|p|[p.name,p.id]},{:prompt => 'Please select author ...'} %>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
