<h1>Listing Features</h1>

<%= form_tag search_features_path, :method => :get do %>
    <%= text_field_tag "keyword" %>
    <%= submit_tag "Search" %>
<% end %>

<table style="width: 1000px">
  <tr>
    <th>Name</th>
    <th>Sort</th>
    <th>Description</th>
    <th>Author</th>
    <th>Remark</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
   <%= paginate @features %>
<% @features.each do |feature| %>
  <tr>
    <td><%= feature.name %></td>
    <td><%= Sort.where('sort_id' => feature.sort).first.name %></td>
    <td><%= feature.description %></td>
    <td><%= Author.where('author_id' => feature.author).first.name %></td>
    <td><%= feature.remark %></td>
    <td><%= feature.tags.map(&:name).join(",")%></td>
    <td><%= link_to 'Show', feature %></td>
    <td><%= link_to 'Edit', edit_feature_path(feature) %></td>
    <td><%= link_to 'Destroy', feature, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= button_to 'Execute', execute_feature_path(feature), method: :get %></td>
    <td><%= button_to 'Download Report', report_feature_path(feature), method: :get %></td>
    <td><%= link_to 'Remote Execute', machine_feature_path(feature), method: :get %></td>
  </tr>
  <% end %>
</table>
<% if $appear %>
  <p><%= link_to 'Save', save_feature_path($executed_feature) %>
  <%= link_to 'Back',:back %></p>
 <div style="width:1000px;border: green 1px solid;background: #ffcc00;">
<%= render 'execute' %>
</div>
<% else %>
<%= link_to_unless $appear,'New Feature', new_feature_path %>
<%end%>





