

<h1>Using Remote Notice</h1>

<nb>N.B.: If you need to run automation in remote.You should run <%= link_to 'selenium-server-standalone','http://docs.seleniumhq.org/download/' ,:target => "_blank" %> first.
  <br/>
  If your server has the local download link, try this: <%= link_to 'Download from server',download_machines_path %>
  <br/>
  After downloading, please run "java -jar selenium-server-standalone.jar" command in console, also please make sure you have a Jave SDK installed.
  <br/>
  <br/>
  <br/>
</nb>

<h2>Now Execute Feature: <h4><%= @feature_name %></h4></h2>

<h2>Please select the machine you need to Run:</h2>

<%= form_tag execute2_feature_path(@feature) do %>
    <% @machines.each do |g| %>
        <%= check_box_tag "checked_ips[]", g.ip %> <%= "Name:#{g.name},IP:#{g.ip}" %>
        <%= hidden_field_tag "checked_ips[]"," " %>
        <br>
    <% end %>
    <br>
    <br>
    <%= submit_tag "Execute!"%>
<% end %>