<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @feature.name %>
</p>

<p>
  <b>Sort:</b>
  <%=  Sort.where('sort_id' => @feature.sort).first.name %>
</p>

<p>
  <b>Description:</b>
  <%= @feature.description %>
</p>

<p>
  <b>Author:</b>
  <%=Author.where('author_id' => @feature.author).first.name %>
</p>

<p>
  <b>Remark:</b>
  <%= @feature.remark %>
</p>
<p>
  <b>Tags:</b>
  <%= @feature.tags.map(&:name).join(",")%>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
