<div style="float: right;font-size: small">
  <% if @is_remote['checked_ips'].nil? %>
      <%= link_to 'Save', save_feature_path(session[:executed_feature]) %>
      <%= link_to 'Close',"javascript:close()" %>
  <% else %>
      <%= link_to 'Back',:back %>
      <%= link_to 'Main Page',features_path %>
  <% end %>

</div>
<div id="main" >
     <%= yield %>
 </div>